@import 'normolize'
@import 'elements'

.price
    background-repeat: no-repeat
    background-position: right top 200px
    background-image: url('../img/mark.svg')
    &_main
        padding: 100px 0
        text-align: center

.contacts
    color: white
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-image: url('../img/order.jpg')
    background-color: rgba(0, 0, 0, .6)
    .col 
        max-width: 50%

    &-form 
        max-width: 42% !important
        border-radius: 12px
        color: black
        text-align: center
        padding: 31px 60px
        background-color: rgba(#fbfbfb, .8)
    
    form 
        flex-wrap: wrap
        gap: 20px 8px
        justify-content: center
        input
            width: calc( 50% - 4px )

    .h2 
        margin-bottom: 26px
        font-size: 40px

    .h3 
        text-align: center
    


    &__text 
        font-size: 18px
        line-height: 28px
        padding-left: 80px